<header class="header">
    <div class="btn-left"></div>
    <div class="dropdown">
        <a href="/solution" class="dropdown-item">
            <i class="icon download"></i>下载全部资料
        </a>
    </div>
</header>

