
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no; viewport-fit=cover">
    <title>HUI</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/hui.css" />
    <link rel="stylesheet" href="~/content/css/main.css">
    <script src="~/content/js/flexible.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="btn-left"></div>
            <a href="index.html" class="btn-right-home"></a>
            <div class="dropdown">
                <a href="index.html" class="dropdown-item">
                    <i class="icon back"></i>查看全部应用
                </a>
                <a href="download.html" class="dropdown-item">
                    <i class="icon download"></i>下载全部资料
                </a>
            </div>
        </header>
        <div class="hui-wrap">
            <div class="banner">
                <img src="~/content/images/detail-banner@3x.jpg" alt="">
            </div>
            <div class="hui-media-list">
                <ul>
                    <li>
                        <div class="hui-media-list-img">
                            <img src="~/content/images/product-pic@3x.png" />
                        </div>
                        <div class="hui-media-content">
                            <h1>ETS Colibri 电子膨胀阀</h1>
                            <p>革命性创新，灵便可靠</p>
                        </div>
                        <div class="hui-media-right hui-form-radios">
                            <button type="button" class="button button-red">预览</button>
                            <input type="checkbox" value="1" name="c1" id="c1" /><label for="c1"></label>
                        </div>
                    </li>
                    <li>
                        <div class="hui-media-list-img">
                            <img src="~/content/images/product-pic@3x.png" />
                        </div>
                        <div class="hui-media-content">
                            <h1>EVR 系列电磁阀</h1>
                            <p>全新升级</p>
                        </div>
                        <div class="hui-media-right hui-form-radios">
                            <button type="button" class="button button-red">预览</button>
                            <input type="checkbox" value="2" name="c1" id="c2" /><label for="c2"></label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="detail-button">
                <a href="download.html" type="button" class="hui-button button-red">发送至邮箱下载</a>
            </div>
        </div>
    </div>
    <script src="~/content/js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/content/js/hui-form.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/content/js/common.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>