
@{
    ViewBag.Title = "FollowQrCode";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no; viewport-fit=cover">
    <title>丹佛斯资料下载</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/hui.css" />
    <link rel="stylesheet" href="~/content/css/main.css">

</head>
<body>
    <div class="hui-img-list-content">        
        <img src="~/Content/images/qrcode.png" />
    </div>
</body>
</html>

