@using Danfoss.Extensions
@{
    Layout = null;
    var data = Danfoss.Data.LocalDataProvider.Current.GetAll();
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no; viewport-fit=cover">
    <title>丹佛斯资料下载</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/hui.css" />
    <link rel="stylesheet" href="~/content/css/main.css">
    <script src="~/content/js/flexible.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="btn-left"></div>
            <div class="dropdown">
                <a href="/download" class="dropdown-item">
                    <i class="icon download"></i>下载全部资料
                </a>
            </div>
        </header>
        <div class="hui-wrap">
            <div class="banner">
                <img src="~/content/images/banner@3x.jpg" alt="">
            </div>
            <div>
                <div style="padding:10px 0px;" id="HUI_Waterfall"></div>
            </div>
        </div>
        <div class="footer">
            隐私声明：本资料下载中心不会收集任何个人信息
        </div>
    </div>
    <script src="~/content/js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/content/js/hui-water-fall.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="UTF-8" src="~/content/js/hui-refresh-load-more.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/content/js/common.js"></script>
    <script type="text/javascript">
		var Waterfall = new huiWaterfall('#HUI_Waterfall');
        var data = new Array();
        @foreach(var solution in data.Solutions)
        {
            <text>data.push({title:'@solution.Title',img:'@Url.Img(solution.SmallPicUrl)',url:'@Url.Solution(solution.Id)'});</text>
        }
        var page = 1;
		getList();
		function getList() {
			//组合dom
			var str = '';
			for (var i = 0; i < data.length; i++) {
				str += '<div class="hui-water-items">' +
					'<a href="'+data[i].url+'">' +
					'<div class="hui-water-items-img"><img src="' + data[i].img + '" /></div>' +
					'<div class="hui-water-items-text">'+data[i].title+'</div>' +
					'</a></div>';
			}
			Waterfall.addItems(str);
			if (page >= 1) {
				hui.endLoadMore(true);
			} else {
				hui.endLoadMore();
			}
			page++;
		}
		hui.loadMore(getList,' ');
    </script>
</body>

</html>