@using Danfoss.Models;
@model  List<Solution>
@{
    ViewBag.Title = "EmailTemplate";
    Layout = null;
}

<html>
<body>
    <div>
        您好：
        根据您之前的选择，以下是相关的丹佛斯资料。
        请点击资料标题，即可查看更多细节。
    </div>
    @foreach (var m in Model)
    {
        <ul>
            <li>
                @m.Title
            <ul>
                @foreach (var n in m.Products)
                {
                    <li><a href="@Url.Download(n.FileUrl)"> @n.Title</a></li>
                }
            </ul>
        </li>
    </ul>
}
</body>
</html>

