<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--站点部署域名（末尾不带斜杠）-->
    <add key="SiteDomain" value="http://localhost:5534" />
    <!--站点部署环境 DEV开发 UAT测试（默认） PRO正式 -->
    <add key="SiteEnvironment" value="UAT" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>

  <!--Log4net 配置 -->
  <log4net>
    <!--The config of System's default level - FATAL-->
    <appender name="FATAL" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_log\web_fatal.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="CountDirection" value="0" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <!--The config of System's default level - ERROR-->
    <appender name="ERROR" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_log\web_error.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="CountDirection" value="0" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <!--The config of System's default level - WARN-->
    <appender name="WARN" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_log\web_warn.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="CountDirection" value="0" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <!--The config of System's default level - INFO-->
    <appender name="INFO" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_log\web_info.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="CountDirection" value="0" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--The config of System's default level - DEBUG-->
    <appender name="DEBUG" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_log\web_debug.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="CountDirection" value="0" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.fff}] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
    </appender>
    <!--控制台显示-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d - %m%0.0exception%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <logger name="log4netMainLogger">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="DEBUG" />
      <appender-ref ref="INFO" />
      <!--<appender-ref ref="WARN" />-->
      <appender-ref ref="ERROR" />
      <!--<appender-ref ref="FATAL" />-->
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
